<button type="button" class="btn btn-danger" ng-click="$ctrl.removeElement()">
    <span class="glyphicon glyphicon-remove"></span>
</button>

<div ng-switch="$ctrl.element.type">
    <title-element ng-switch-when="title" element="$ctrl.element"></title-element>
    <text-element ng-switch-when="text" element="$ctrl.element"></text-element>
    <image-element ng-switch-when="image" element="$ctrl.element"></image-element>
    <nav-element ng-switch-when="nav" element="$ctrl.element"></nav-element>
</div>
