<div class="element" ng-class="{'element_delete-hover': $ctrl.deleteHovering, 'element_active': $ctrl.editing}">
    <a class="element-delete" ng-click="$ctrl.removeElement()" ng-mouseover="$ctrl.deleteHovering = true" ng-mouseleave="$ctrl.deleteHovering = false">
        <span class="glyphicon glyphicon-remove"></span>
    </a>

    <div ng-switch="$ctrl.element.type">
        <title-element ng-switch-when="title" element="$ctrl.element"></title-element>
        <text-element ng-switch-when="text" element="$ctrl.element"></text-element>
        <image-element ng-switch-when="image" element="$ctrl.element"></image-element>
        <nav-element ng-switch-when="nav" element="$ctrl.element" pages="$ctrl.pages" is-editing="$ctrl.isEditing"></nav-element>
    </div>
</div>
